*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.mainpage{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(109, 54, 54, 0.5),rgba(59, 64, 82, 0.5)), url("Images/home-cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.nav-item{
    margin-left: 20px;
   
}

.navbar{
    padding-top: 30px;
        
}
.navbar-light .navbar-nav .nav-link , .navbar .navbar-brand{
    color: brown;
}
.navbar .navbar-brand{
    font-size: 200%;
    color: wheat;

}
.navbar-light .navbar-nav .nav-link:hover , .navbar .navbar-brand:hover{
    color: rgb(218, 160, 160);
}
.navbar-light .navbar-nav .nav-link:active , .navbar .navbar-brand:active{
    color: blue;
}
.jumbotron{
    color: wheat;
    background-color: transparent;
    margin-top: 100px;
}
.downloadbutton{
    border: 1px solid orange;
    border-radius: 7px;
    background-color: brown;
    color: brown;
    text-decoration: none;
    padding: 15px 30px;
    color: white;
}
.signup{
    border: 1px solid orange;
    border-radius: 7px;
    background-color: transparent;
    color: brown;
    text-decoration: none;
    padding: 15px 30px;
    color: white;
    margin-left: 15px;
}
.buttondiv{
    margin-top: 40px;
   
}
.downloadbutton:hover{
    text-decoration: none;
    color: white;
    background-color: rgb(143, 33, 33);
    transition: 1s;
    border-color: brown;
}
 .signup:hover{
    border: 1px solid orange;
    border-radius: 7px;
    background-color: brown;
    color: brown;
    text-decoration: none;
    color: white;
    transition: 1s;
}
/* about section */
.aboutsection{
    width: 100%;
    min-height: 60vh;
    background-color: white;
}
.contenttopic{
    margin-top: 120px;
}
.abouttext{
font-size: 110%;
}
#textsegment{
    border: 1px solid brown;
    padding-bottom: 30px;
}
.aboutbodytext{
    margin-top: 90px;
    border: none;
}

.headerunderline{
    width: 80px;
    border-bottom: 1px solid brown;
    margin: 0 auto;
}


/* catalogue section */
.no-gutters{
    margin-top: 50px;
}
.card{
    height: 230px;
    background-position: center;
    background-size: cover;
    border-radius: 0px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-images{
    width: 100%;
}

.card1{
    background-image: url("Images/light\ brown.jpg");
}
.card2{
   background-image: url("Images/dark theme room.jpg"); 
}
.card3{
   background-image: url("Images/TV.jpg "); 
}
.card4{
    background-image: url("Images/white furniture.jpg ");
}
.card5{
    background-image: url("Images/office.jpeg "); 
}
.card6{
    background-image: url("Images/meeting.jpg "); 
}
.card7{
    background-image: url("Images/Outdoor.jpg"); 
}
.card8{
    background-image: url("Images/Grey Cushion.jpg "); 
}




@keyframes slide_up {
    0%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
   
}

@keyframes fade-in{
    0%{
       opacity: 0;
    }
    100%{
       opacity: 1;
    }
}

.card:hover>h5{

animation: slide_up 1s ease;
}


  .catlgdiv:before {
    content: '';
    display: block;
    position: absolute;
    height: 0%;
    width: 100%;
    bottom: 0;
    transition: height 0.1s ease-out;
    background: linear-gradient(rgba(88, 123, 236, 0.3),rgba(240, 126, 160, 0.3));
  }
  .catlgdiv:hover:before {
    height: 100%;
  }
  .catlg-text{
    color: red
  }
  .cataloguesection{
    margin-bottom: 3rem;
  }

  .contactbtn{
    border: 1px solid orange;
    border-radius: 7px;
    background-color: transparent;
    color: brown;
    text-decoration: none;
    padding: 10px 40px;
    color: black;
    margin-left: 15px;
    
    
  }

.prompttext{

    margin-bottom: 30px;
}
.contactbtn:hover{
    border: 1px solid orange;
    border-radius: 7px;
    background-color: brown;
    color: brown;
    text-decoration: none;
    color: white;
    transition: .6s;
}

.promptdiv{
    margin-bottom: 100px;
}


.underline2{
    width: 80px;
    border-bottom: 1px solid white;
    margin: 0 auto;

}

/* .testimonial section */
.carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 100%;
  width: 100%;
}
.carousel-item{
    background-image: linear-gradient(rgba(7, 10, 59, 0.4),rgba(7, 10, 59, 0.4)), url("Images/green\ chair.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative; 
    box-sizing: border-box;

}
/* useful code here */
/* .carousel-item {
    border: 2px solid green;
  
}
.carousel-item:before{
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    
    background: linear-gradient(rgba(7, 10, 59, 0.4),rgba(7, 10, 59, 0.4));
}

.carousel-inner img {
    object-fit: cover;
    object-position: center;
   
} */


.carousel {
 height: 26rem;
 margin-bottom: 300px;
 box-sizing: border-box;
}

.carousel-indicators li{
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
}
.testimonial-text-div{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    color: white;
    font-size: 120%;
}
.testimonial-title-div{
    margin-top: 3rem;
    color: white;
}
.author{
    color: rgb(231, 28, 28);
    font-weight: bold;
}
